<header class="d-flex flex-wrap align-items-center justify-content-center py-3 border-bottom navbar-fixed-top text-bg-dark">
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="/ventas" class="nav-link px-2 text-white">Ventas</a></li>
    <li><a href="/reportes" class="nav-link px-2 text-white">Reportes</a></li>
    <li><a href="/" class="nav-link px-2 text-white">Video Juegos</a></li>
    <li><a href="/ubicaciones" class="nav-link px-2 text-white">Ubicaciones</a></li>
  </ul>
</header>