<nav class="navbar navbar-inverse navbar-fixed-top text-bg-dark">
  <a href="/ventas" class="nav-link text-white">Ventas</a>
  <a href="/reportes" class="nav-link text-white">Reportes</a>
  <a href="/" class="nav-link text-white">Video Juegos</a>
  <a href="/ubicaciones" class="nav-link text-white">Ubicaciones</a>
</nav>