<div>
  <div class="modal fade" id="updateModal-{{venta.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Actualizar venta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form action="/ventas/update" class="my-2" method="POST">
              <input
                type="hidden"
                name="id"
                value="{{ubicacion.id}}"
              >
              <input
                type="text"
                placeholder="Nombre"
                class="form-control my-2"
                name="Nombre"
                value="{{ubicacion.Nombre}}"
              >
              <button type="submit" class="btn btn-primary">Actulizar</button>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>